<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('main.index')}}"
            >Home <span class="sr-only"></span></a
          >
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('bill.create')}}"
            >Create A Bill <span class="sr-only"></span></a
          >
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('bill.reminders')}}"
            >Your Bills <span class="sr-only"></span></a
          >
        </li>
      </ul>
      
      <ul class="navbar-nav ">
        
        {% if current_user.is_authenticated %}
      <li class=nav-item>
        <a class='nav-link' href="{{url_for('account.logout')}}">Logout</a>
      </li>
      {% else %}
      <li class=nav-item>
        <a class='nav-link' href="{{url_for('account.login')}}">Login</a>
      </li>
      <li class=nav-item>
        <a class='nav-link' href="{{url_for('account.register')}}">Register</a>
      </li>
      {% endif %}
        
      </ul>

    </div>
  </nav>
  