{% extends 'layout.html' %}
{% block content %}

<div>
    <h3>Reminders</h3>
  </div>
  <hr>
  
  {% if bills %}

  {% for b in bills%}
  <small>{{ b.description}}
    <span><a class="float-right btn btn-danger" href="/bill/delete/{{b.id}}">Delete</a><a class="float-right btn btn-warning" href="/bill/edit/{{b.id}}">Edit</a></span>
  </small>
    <p>
    
      ${{ b.amount/100 }} | {{ b.pay_to }} | {{ b.due_date.strftime('%m-%d-%Y')}}
      
    </p>
    
    
    <hr/>
  {% endfor %}
  {% else %}
    <p>You have no bills... Make some!</p>
  {% endif %}

 
{% endblock %}